<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="myriad">ElleOL</span><span class="windsong">Designs</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-elleol">
        <li class="active"><a href="#">GETTING STARTED</a></li>
        <li><a href="#holiday">HOLIDAY</a></li>
        <li><a href="#wedding">WEDDING</a></li>
        <li><a href="#kids">KIDS</a></li>
        <li><a href="#extras">EXTRAS</a></li>
      </ul>
      <ul class="nav navbar-nav social-icons">
        <li><a href="../navbar/">
          {% image '@ElleOLFEBundle/Resources/public/images/pinterest.png' %}
            <img src="{{ asset_url }}" alt="Pinterest" width="24px" />
          {% endimage %}
        </a></li>
        <li><a href="../navbar/">
          {% image '@ElleOLFEBundle/Resources/public/images/twitter.png'%}
            <img src="{{ asset_url }}" alt="Pinterest" width="24px" />
          {% endimage %}
        </a></li>
        <li><a href="../navbar/">
          {% image '@ElleOLFEBundle/Resources/public/images/facebook.png' %}
            <img src="{{ asset_url }}" alt="Pinterest" width="24px" />
          {% endimage %}
        </a></li>
        <li><a href="../navbar/">
          {% image '@ElleOLFEBundle/Resources/public/images/linkedin.png' %}
            <img src="{{ asset_url }}" alt="Pinterest" width="24px" />
          {% endimage %}
        </a></li>
        <li><a href="../navbar/">
          {% image '@ElleOLFEBundle/Resources/public/images/email.png' %}
            <img src="{{ asset_url }}" alt="Pinterest" width="24px" />
          {% endimage %}
        </a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>